# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
src/dcmp/dcmp
src/dcp/dcp
src/dcp2/dcp2
src/dfilemaker/dfilemaker
src/dsh/dsh
src/dwalk/dwalk

.pc
deps
.deps
install
autotools

# Autotool artifacts
/autom4te.cache
Makefile
config.h.in~
config.h.in
config.h
config.log
config.status
/stamp-h1
auxdir/install-sh
auxdir/config.guess
auxdir/config.sub
auxdir/ltmain.sh
config.h.in
config.h.in~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

aclocal.m4
auxdir/depcomp
auxdir/missing
configure

Makefile.in
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in

# Vagrant/Ansible artifacts
/devops/vagrant_ansible_inventory_*
/devops/.vagrant

# documentation build
doc/build

# spack files
.spack*
spack.lock
