# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
src/dbcast/dbcast
src/dbz2/dbz2
src/dchmod/dchmod
src/dcmp/dcmp
src/dcp/dcp
src/dcp1/dcp1
src/dcp2/dcp2
src/ddup/ddup
src/dfilemaker/dfilemaker
src/dfilemaker1/
src/dfind/dfind
src/dreln/dreln
src/drm/drm
src/dsh/dsh
src/dstripe/dstripe
src/dsync/dsync
src/dtar/dtar
src/dwalk/dwalk

.pc
deps
.deps
install
autotools

# Autotool artifacts
/autom4te.cache
Makefile
config.h.in~
config.h.in
config.h
config.log
config.status
/stamp-h1
auxdir/install-sh
auxdir/config.guess
auxdir/config.sub
auxdir/ltmain.sh
config.h.in
config.h.in~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

aclocal.m4
auxdir/depcomp
auxdir/missing
configure

Makefile.in
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in

# Vagrant/Ansible artifacts
/devops/vagrant_ansible_inventory_*
/devops/.vagrant

# documentation build
doc/build

# spack files
.spack*
spack.lock

# Code editors
.vscode

# source indexing/tagging
tags

# CMake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# Python tests files
__pycache__/
