# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.pc
dcp
deps
install

# Autotool artifacts
/autom4te.cache
/stamp-h1
.deps
/config.log
/config.status
/config.h*
